<template name="locked">
  <div class="wrapper wrapper-full-page">
    <div class="full-page lock-page" data-color="red" data-image="assets/img/full-screen-image-4.jpg">   
      <div class="content">
        <form method="#" action="#">
          <div class="user-profile">        
            <div class="author">
              <img class="avatar" src="assets/img/faces/1.jpg" alt="...">
            </div> 
            <h4>George Seybold</h4> 
            <div class="form-group">
              <input type="password" placeholder="Enter Password" class="form-control">
            </div>
            <button type="button" class="btn btn-neutral btn-round btn-fil btn-wd">Unlock</button>                      
          </div>
        </form>
      </div>
    </div> 
  </div>
</template>