<template name="bottomNav">
  <div id="footer">
    <div class="col-xs-12 navbar-default navbar-fixed-bottom">
      <div class="row" id="bottomNav" style="padding-top:15px;">
        <div class="col-xs-3 text-center"><a href="/news"><i class="{{dict 'icons.news'}}"></i></a></div>
        <div class="col-xs-3 text-center"><a href="/connections"><i class="{{dict 'icons.people'}}"></i></a></div>
        <div class="col-xs-3 text-center"><a href="/workspaces"><i class="{{dict 'icons.workspaces'}}"></i></a></div>
        <div class="col-xs-3 text-center"><a href="/notifications"><i class="{{dict 'icons.notifications'}}"></i></a></div>
      </div>
    </div>
  </div>
</template>
