.step-dot {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  border: 1px solid red;
  display: inline-block;
}

.step-dot-selected {
  background: red;
}

.logo {
  font-weight: bold;
  font-size: 16px;
}

.btn-continue {
  color: red;
}

.input-group .form-control:last-child {
  background-color: white !important;
  border-left: 1px solid #E3E3E3 !important;
}